body {
	margin:0px;
	background-color: #D3D3D3;
}

#informaçôes {
	width: 98%;
	margin : 15px 0px 15px 0px;
	padding:1%;
	position:auto;
	background-color: white;

}

#cursop {
	padding:1%;
	width: 98%;
	margin :15px 0px 15px 0px;
	position:center;
	background-color: white;
}

#curso {
	padding:1%;
	width: 98%;
	margin :15px 0px 15px 0px;
	position:center;
	background-color: white;
}


h3 {
    color: red;

    column-rule-color: rgb(51, 51, 50);
    border: 0px none rgb(51, 51, 50);
    font: normal normal bold normal 22px / 37.4px PreloSlab-Book, Verdana;
    outline: rgb(51, 51, 50) none 0px;
    text-align: center;
}

p {
	color:#000000;
	font: normal normal normal normal 16px / 27.2px Prelo-Book, Verdana;
	text-decoration:none;

}

#rede {
	padding:1%;
	width: 98%;
	margin :15px 0px 15px 0px;
	position:center;
	background-color: white;
}

div div p{
	font-size:70px;
	font-family: Verdana;
	color:red;
	padding: 5px
	outline: rgb(51, 51, 50) none 0px;
	column-rule-color: rgb(51, 51, 50);
	border: 0px none rgb(51, 51, 50);
	text-decoration:none;

}

#titulorede {
	color: red;

    column-rule-color: rgb(51, 51, 50);
    border: 0px none rgb(51, 51, 50);
    font: normal normal bold normal 22px / 37.4px PreloSlab-Book, Verdana;
    outline: rgb(51, 51, 50) none 0px;
    text-align: center

}

.botao {
	width:200px;
	padding: 5px;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:black;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#bot {
	padding:1%;
	width: 98%;
	margin :0px 0px 15px 0px;
	background-color: white;
	display: table

}



#nomeclatura {

	padding:1%;
	width: 98%;
	margin :0px 0px 0px 0px;
	position:center;
	background-color: white;
}



.DivBotao {
	width:20%;
	margin :0px 58px 0px 117px;



}

.Botao {
	width: 200px;
	height:0;
	padding-bottom: 70%;
    border-radius: 100%;
    overflow:hidden;    
    background: black; 
    box-shadow: 0 0 3px gray;
    background-repeat: no-repeat;
	background-size: 100%;
	border:2px black solid;
}

.DivBotao1:hover {
	background-color:black;

}

.DivBotao2:hover {
	background-color:black;
}

.DivBotao1 {
	float:left;
	width:100%;
	padding-top:40%;
    padding-bottom:50%;
	line-height:2em;
	margin-top:-0.5em;
	margin-left:-0.1em;   
	text-align:center;
    font-family:Verdana;
    font-size:1.5em;
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 1px;
    column-rule-color: rgb(255, 255, 255);
    font: normal normal bold normal PreloSlab-Book;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}

.DivBotao2 {
	float:left;
	width:100%;
	padding-top:40%;
    padding-bottom:50%;
	line-height:2em;
    font-family:Verdana;
	margin-top:-2.4em;
	margin-left:-0.1em;
    text-align:center;
   	color: rgb(255, 255, 255);
    text-shadow: rgba(5, 5, 5, 0.2) 5px 5px 1px;
    column-rule-color: rgb(255, 255, 255);
    font: normal normal bold normal PreloSlab-Book;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    font-size:1.5em;
    text-decoration:none;
}


#NomeTabela {

    color: red;
    column-rule-color: rgb(51, 51, 50);
    border: 0px none rgb(51, 51, 50);
    font: normal normal bold normal 22px / 37.4px PreloSlab-Book, Verdana;
    outline: rgb(51, 51, 50) none 0px;
    text-align: center;		

}

#Imagem {
	width: 100%;
	height:500px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	padding: 0px;
}

#DivDescriçao {
	margin:0px;
	width:40%; 
}



#Descrição {
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 1px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 20px / 24px PreloSlab-Book, Verdana;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}

#DivNome {
	margin:0px;
	width:50%;
}


#Nome {

    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgba(40, 40, 40, 0.2) 5px 5px 1px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 60px / 72px PreloSlab-Book, Verdana;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    margin: 0px
}

#DivVoltar {
	background-color: white;
	text-align: center;
    padding: 15px 0px 0px 0px;
	text-decoration: none;
	color: red;
	column-rule-color: rgb(51, 51, 50);
    border: 0px none rgb(51, 51, 50);
    font: normal normal bold normal 22px / 37.4px PreloSlab-Book, Verdana;
    outline: rgb(51, 51, 50) none 0px;
    text-align: center;
}    