body {
	margin:0px;
	background-color: #D3D3D3;
}

#Imagem {
	width: 100%;
	height:600px;
}

#Projeto {
	width: 100%;
	margin : 15px 0px 15px 0px;
	padding:5px;
	border:2px dashed black;
	position:auto;
	background-color: #FFFFFF;

}

#Materia {
	padding:5px;
	width: 100%;
	margin :15px 0px 15px 0px;
	border:2px dashed black;
	position:center;
	background-color: #FFFFFF;
}


h3 {
	color:black;
	text-align: center;
}

p {
	color:#000000;
	font-family: serif;

}

#BreveDescrição {
	padding:5px;
	width: 100%;
	margin :10px 0px 10px 0px;
	border:2px dashed black;
	position:center;
	background-color: #FFFFFF;
}

#Materiais {
	padding:5px;
	width: 100%;
	margin :10px 0px 10px 0px;
	border:2px dashed black;
	position:center;
	background-color: #FFFFFF;
}

#Detalhes {
	padding:5px;
	width: 100%;
	margin :10px 0px 10px 0px;
	border:2px dashed black;
	position:center;
	background-color: #FFFFFF;
}

h1 {
	text-align:center;
	color:black;
	font-family:serif;
}